.signup .signup__banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #404145;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

.max-width-container {
  max-width: 1400px;
  margin: 0 144px 96px;
  padding: 0 32px;
}

@media screen and (max-width: 992px) {
  .max-width-container {
    margin: 0 20px;
    padding: 32px 32px 64px;
  }
}

@media screen and (max-width: 768px) {
  .max-width-container {
    margin: 0;
    padding: 32px 32px 64px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: #404145;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  font-size: 32px;
  position: absolute;
  top: 40%;
}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  color: #404145;
}

.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

@media screen and (max-width: 992px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -15px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -15px;
  }
}

.header-container {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 80px;
  padding: 0 144px;
}

.header-container .myNavBar {
  margin: 0;
  padding: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header-container .myNavBar .myNavBar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .myNavBar .myNavBar__left .navbar-brand {
  padding-top: 0px;
  padding-right: 5px;
}

.header-container .myNavBar .myNavBar__left .navbar-brand a {
  height: auto;
}

.header-container .myNavBar .myNavBar__left .myNavBar__form-search {
  position: relative;
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-container .myNavBar .myNavBar__left .myNavBar__form-search .input-group .search-bar-icon {
  z-index: 5;
  position: absolute;
  top: 3px;
  left: 8px;
}

.header-container .myNavBar .myNavBar__left .myNavBar__form-search .input-group .search-bar-icon svg {
  fill: #404145;
}

.header-container .myNavBar .myNavBar__left .myNavBar__form-search .input-group input {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  padding-top: 8px;
  padding: 7px 7px 7px 28px;
  border-color: #dadbdd;
  color: #404145;
}

.header-container .myNavBar .myNavBar__right .navbar-nav {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header-container .myNavBar .myNavBar__right .navbar-nav .nav-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.header-container .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button {
  padding: 0;
  margin: 0;
}

.header-container .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.header-container .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button button img {
  width: 14px;
  height: 14px;
  -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(106%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(174deg) brightness(106%) contrast(101%);
}

@media screen and (max-width: 1250px) {
  .header-container {
    width: 100%;
    padding: 0;
  }
  .header-container .navbar-toggler {
    border: none;
  }
  .header-container .navbar-toggler:hover {
    border: none;
  }
  .header-container .navbar-toggler:focus {
    outline: none;
  }
}

@media screen and (max-width: 992px) {
  .header-container {
    padding: 0;
  }
  .header-container .myNavBar .navbar-toggler-reset {
    padding-right: 0;
  }
  .header-container .myNavBar .myNavBar--reset .myNavBar__right {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header-container .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-container .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav .nav-item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header-container .myNavBar .navbar-toggler-reset {
    margin: 0 auto;
  }
  .header-container .myNavBar .navbar-toggler-reset .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  .header-container .myNavBar .myNavBar__col {
    padding-left: 0;
    margin-left: 0;
  }
  .header-container .myNavBar .myNavBar--reset .myNavBar__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header-container .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav .display-from-md {
    display: none;
  }
}

#headerFixed {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 16;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  padding: 0 144px;
  margin: 0 auto;
}

#headerFixed .myNavBar {
  margin: 0;
  padding: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#headerFixed .myNavBar .myNavBar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#headerFixed .myNavBar .myNavBar__left .navbar-brand {
  padding-top: 0px;
  padding-right: 5px;
}

#headerFixed .myNavBar .myNavBar__left .navbar-brand a {
  height: auto;
}

#headerFixed .myNavBar .myNavBar__left .myNavBar__form-search {
  position: relative;
  opacity: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#headerFixed .myNavBar .myNavBar__left .myNavBar__form-search .input-group .search-bar-icon {
  z-index: 5;
  position: absolute;
  top: 3px;
  left: 8px;
}

#headerFixed .myNavBar .myNavBar__left .myNavBar__form-search .input-group .search-bar-icon svg {
  fill: #404145;
}

#headerFixed .myNavBar .myNavBar__left .myNavBar__form-search .input-group input {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  padding-top: 8px;
  padding: 7px 7px 7px 28px;
  border-color: #dadbdd;
  color: #404145;
}

#headerFixed .myNavBar .myNavBar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav .nav-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  white-space: nowrap;
  text-decoration: none;
  color: #62646a;
  font-size: 14px;
  font-weight: 600;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button {
  padding: 0;
  margin: 0;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button button {
  color: #62646a;
  font-size: 14px;
  font-weight: 600;
}

#headerFixed .myNavBar .myNavBar__right .navbar-nav .nav-item .header-button button img {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 1250px) {
  #headerFixed {
    width: 100%;
    padding: 0;
  }
  #headerFixed .navbar-toggler {
    border: none;
  }
  #headerFixed .navbar-toggler:hover {
    border: none;
  }
  #headerFixed .navbar-toggler:focus {
    outline: none;
  }
}

@media screen and (max-width: 992px) {
  #headerFixed .myNavBar .navbar-toggler-reset {
    padding-right: 0;
  }
  #headerFixed .myNavBar .myNavBar--reset .myNavBar__right {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #headerFixed .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #headerFixed .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav .nav-item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  #headerFixed .myNavBar .navbar-toggler-reset {
    margin: 0 auto;
  }
  #headerFixed .myNavBar .navbar-toggler-reset .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  #headerFixed .myNavBar .myNavBar__col {
    padding-left: 0;
    margin-left: 0;
  }
  #headerFixed .myNavBar .myNavBar--reset .myNavBar__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  #headerFixed .myNavBar .myNavBar--reset .myNavBar__right .navbar-nav .display-from-md {
    display: none;
  }
}

.carousel__content .carousel-item {
  -webkit-transition: all 1ms;
  transition: all 1ms;
  position: relative;
}

.carousel__content .carousel-item .seller-name {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
}

.carousel__content .carousel-item .carousel__text {
  max-width: 520px;
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__content .carousel-item .carousel__text h1 {
  padding-bottom: 24px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.carousel__content .carousel-item .carousel__text p {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}

.carousel__content .carousel-item .carousel__text .carousel__form-search {
  position: relative;
  width: 100%;
}

.carousel__content .carousel-item .carousel__text .carousel__form-search .input-group .search-bar-icon {
  z-index: 5;
  position: absolute;
  top: 3px;
  left: 8px;
}

.carousel__content .carousel-item .carousel__text .carousel__form-search .input-group .search-bar-icon svg {
  fill: #404145;
}

.carousel__content .carousel-item .carousel__text .carousel__form-search .input-group input {
  border-right: 0;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  padding: 7px 7px 8px 28px;
  border-color: #dadbdd;
  color: #404145;
}

.carousel__content .carousel-item .carousel__text .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 24px;
}

.carousel__content .carousel-item .carousel__text .popular ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}

.carousel__content .carousel-item .carousel__text .popular ul li {
  white-space: nowrap;
  margin-right: 12px;
  width: 100%;
}

.carousel__content .carousel-item .carousel__text .popular ul li .text-popular {
  text-decoration: none;
  padding: 1px 12px 0;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}

@media screen and (max-width: 992px) {
  .carousel__content .carousel-item img {
    width: 120% !important;
  }
  .carousel__content .carousel-item .carousel__text {
    left: 5%;
  }
  .carousel__content .carousel-item .carousel__text .popular {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .carousel__content .carousel-item img {
    width: 180% !important;
  }
  .carousel__content .carousel-item .seller-name {
    display: none;
  }
  .carousel__content .carousel-item .carousel__text {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
  }
}

.partners {
  margin: 0 auto 48px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .partners__content {
  padding: 10px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #b5b6ba;
}

.partners .partners__content .partners__text {
  text-align: center;
  padding-right: 40px;
}

.partners .partners__content .partners__text p {
  margin-bottom: 0;
}

.partners .partners__content .partners__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .partners__content .partners__imgs .partners__items {
  padding-right: 60px;
}

@media screen and (max-width: 992px) {
  .partners .partners__content .partners__text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .partners .partners__content {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners .partners__content .partners__imgs .partners__items {
    padding: 0 15px;
  }
}

.services {
  padding: 32px 0;
}

.services .services__content {
  width: 80%;
  margin: 0 auto;
}

.services .services__content h2 {
  padding-bottom: 28px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  color: #404145;
}

.selling {
  background: #f1fdf7;
  padding: 96px 0;
  margin: 0 0 96px;
}

.selling .selling__content h2 {
  padding-bottom: 24px;
  font-size: 28px;
  line-height: 120%;
  color: #404145;
  font-weight: 700;
  padding-bottom: 24px;
}

.selling .selling__content .selling-left {
  padding-left: 0;
  padding-right: 2%;
  width: 90%;
}

.selling .selling__content .selling-left ul {
  list-style-type: none;
}

.selling .selling__content .selling-left ul li h6 {
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  color: #404145;
  padding-bottom: 12px;
}

.selling .selling__content .selling-left ul li p {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 12px;
}

.selling .selling__content .selling-right {
  margin: auto;
  padding-left: 3%;
}

.explore h2 {
  padding-bottom: 24px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

.explore ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 55px;
}

.explore ul li {
  padding: 0 10px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  list-style: none;
  list-style-image: none;
  width: 20%;
}

.explore ul li a {
  text-decoration: none;
  color: #222325;
  text-align: center;
  position: relative;
  display: inline-block;
}

.explore ul li a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}

@media screen and (max-width: 992px) {
  .explore h2 {
    margin-bottom: 32px;
  }
  .explore ul {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .explore ul {
    padding-bottom: 0;
  }
  .explore ul li {
    width: 33.33%;
  }
}

.business {
  background-color: #0d084d;
  padding: 96px 0;
  margin-bottom: 96px;
}

.business .business__content .business__logo {
  padding-bottom: 32px;
}

.business .business__content .business__logo img {
  width: 178px;
  height: 22px;
}

.business .business__content .business-left h2 {
  color: #fff;
  font-size: 28px;
  line-height: 120%;
  padding-bottom: 24px;
  max-width: 350px;
}

.business .business__content .business-left p {
  padding-bottom: 32px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  max-width: 450px;
}

.business .business__content .business-left ul {
  list-style: none;
  color: #fff;
}

.business .business__content .business-left ul img {
  width: 5%;
}

.business .business__content .business-right img {
  width: calc(100% + 140px);
}

@media screen and (max-width: 992px) {
  .business {
    padding: 40px 0px;
  }
  .business .business__content .business-left h2 {
    padding-bottom: 10px;
    font-size: 30px;
  }
  .business .business__content .business-left p {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .business .business__content .business-right img {
    width: calc(100% + 16px);
    margin: 0 -16px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .business .business__content .business-left h2 {
    max-width: 450px;
  }
  .business .business__content .business-right img {
    width: 100%;
  }
}

.testimonial {
  padding: 0 10%;
  margin-bottom: 96px;
}

.testimonial .testimonial__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial__item .testimonial__video {
  width: 40%;
}

.testimonial .testimonial__item .testimonial__text {
  width: 60%;
  padding: 0 48px 0 64px;
}

.testimonial .testimonial__item .testimonial__text h5 {
  color: #7a7d85;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}

.testimonial .testimonial__item .testimonial__text img {
  margin-left: 12px;
  height: 36px;
  display: inline-block;
  width: 13%;
}

.testimonial .testimonial__item .testimonial__text blockquote {
  font-size: 26px;
  line-height: 44px;
  color: #003912;
}

@media screen and (max-width: 768px) {
  .testimonial .testimonial__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial .testimonial__item .testimonial__video {
    width: 100%;
  }
  .testimonial .testimonial__item .testimonial__text {
    width: 100%;
    padding: 0;
  }
  .testimonial .testimonial__item .testimonial__text h5 {
    color: #7a7d85;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .testimonial .testimonial__item .testimonial__text img {
    margin-left: 12px;
    height: 36px;
    display: inline-block;
    width: 10%;
  }
  .testimonial .testimonial__item .testimonial__text blockquote i {
    font-size: 16px;
    line-height: 24px;
  }
}

.logo {
  padding: 0 32px;
  margin-bottom: 96px;
  position: relative;
}

.logo .logo__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4a73e8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo__banner .logo__text {
  padding: 60px 0 63px 80px;
}

.logo .logo__banner .logo__text img {
  margin-right: 10px;
  width: 188px;
  height: 26px;
}

.logo .logo__banner .logo__text h2 {
  margin-bottom: 8px;
  padding-bottom: 0;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
}

.logo .logo__banner .logo__text h2 i {
  font-weight: 500;
}

.logo .logo__banner .logo__text p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.logo .logo__banner .logo__text img {
  margin-bottom: 16px;
}

.logo .logo__banner .logo__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: block;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .logo {
    margin-bottom: 60px;
    padding: 0 12px;
  }
  .logo .logo__banner {
    padding: 0;
  }
  .logo .logo__banner .logo__text {
    padding-top: 10%;
    padding-left: 10%;
  }
  .logo .logo__banner .logo__img {
    display: none;
  }
}

.madeby-background {
  background-color: #F5f5f5;
}

.madeby-background .madeby {
  padding: 96px 0;
}

.madeby-background .madeby h2 {
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 24px;
}

.madeby-background .madeby .madeby__item {
  margin: 8px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.09);
}

.madeby-background .madeby .madeby__item .madeby__top img {
  height: 237px;
  width: 100%;
}

.madeby-background .madeby .madeby__item .madeby__top img:hover {
  opacity: 0.85;
}

.madeby-background .madeby .madeby__item .madeby__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 12px 16px;
}

.madeby-background .madeby .madeby__item .madeby__bottom .profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.madeby-background .madeby .madeby__item .madeby__bottom .profile__info {
  font-size: 14px;
  line-height: 21px;
  padding-left: 12px;
}

.madeby-background .madeby .madeby__item .madeby__bottom .profile__info a {
  text-decoration: none;
}

.madeby-background .madeby .madeby__item .madeby__bottom .profile__info .info__top a {
  color: #404145;
}

.madeby-background .madeby .madeby__item .madeby__bottom .profile__info .info__bot {
  color: #95979d;
}

@media screen and (max-width: 1200px) {
  .madeby-background .madeby {
    padding: 64px 0;
  }
  .madeby-background .madeby h2 {
    font-size: 24px;
  }
}

.guides h2 {
  padding-bottom: 24px;
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.guides .guides__item a {
  text-decoration: none;
}

.guides .guides__item a img {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 100%;
}

.guides .guides__item a img:hover {
  opacity: 0.85;
}

.guides .guides__item a h6 {
  padding: 0 0 2px;
  color: #404145;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.guides .guides__item a p {
  color: #404145;
  font-size: 14px;
}

.signup {
  padding: 0 32px;
  margin-bottom: 96px;
}

.signup .signup__banner {
  background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");
  border-radius: 4px;
  width: 100%;
}

.signup .signup__banner .signup__text {
  padding: 120px 96px;
}

.signup .signup__banner .signup__text h2 {
  max-width: 650px;
  margin-bottom: 8px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.signup .signup__banner .signup__text h2 i {
  font-weight: 500;
}

.signup .signup__banner .signup__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: block;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .signup .signup__banner .signup__text {
    padding: 50px 26px;
  }
  .signup .signup__banner .signup__text h2 {
    max-width: 400px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .signup {
    margin-bottom: 60px;
  }
  .signup .signup__banner {
    overflow: hidden;
    background-color: #45091b;
    background-image: none;
  }
  .signup .signup__banner .signup__text {
    padding: 52px 36px;
    width: 100%;
  }
  .signup .signup__banner .signup__text h2 {
    max-width: 500px;
    padding-bottom: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
}

.grid-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 16px;
}

.grid-15 .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

#footer::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e4e5e7;
  display: block;
}

#footer .footer {
  padding-top: 64px;
  margin-bottom: 2%;
}

#footer .footer .footer__top {
  padding-bottom: 24px;
  margin-bottom: 8px;
}

#footer .footer .footer__top::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e4e5e7;
  display: block;
}

#footer .footer .footer__top .footer__sub {
  padding: 0 16px;
}

#footer .footer .footer__top .footer__sub h6 {
  color: #404145;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 16px;
}

#footer .footer .footer__top .footer__sub ul {
  list-style: none;
}

#footer .footer .footer__top .footer__sub ul li {
  padding: 0 0 16px;
}

#footer .footer .footer__top .footer__sub ul li a {
  text-decoration: none;
  color: #7a7d85;
  font-size: 14px;
}

#footer .footer .footer__top .footer__sub ul li a:hover {
  text-decoration: underline;
}

#footer .footer .footer__top .footer__sub ul li a p {
  color: #b5b6ba;
  font-size: 12px;
}

#footer .footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer .footer__bottom .footer-bottom__left {
  padding: 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer .footer__bottom .footer-bottom__left img {
  width: 77px;
  height: 23px;
}

#footer .footer .footer__bottom .footer-bottom__left p {
  margin-left: 24px;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

#footer .footer .footer__bottom .footer-bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer .footer__bottom .footer-bottom__right .social {
  width: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin-bottom: 0px;
}

#footer .footer .footer__bottom .footer-bottom__right .social li {
  margin-right: 32px;
}

#footer .footer .footer__bottom .footer-bottom__right .social li a:hover {
  padding: 8px;
  margin: -8px;
  color: #404145;
  background-color: #efeff0;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#footer .footer .footer__bottom .footer-bottom__right .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer .footer__bottom .footer-bottom__right .settings button {
  margin-right: 4px;
  padding: 8px 12px;
  background: none;
  border: none;
  white-space: nowrap;
  color: #7a7d85;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

#footer .footer .footer__bottom .footer-bottom__right .settings button img {
  padding-right: 8px;
}

#footer .footer .footer__bottom .footer-bottom__right .settings button:hover {
  color: #404145;
  background-color: #f5f5f5;
  border-radius: 54px;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon {
  margin-left: 5px;
  width: 32px;
  height: 32px;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon svg {
  fill: #7a7d85;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon svg .circle-wrapper {
  stroke: #7a7d85;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon svg:hover circle {
  fill: #e4e5e7;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon svg:hover path {
  fill: #404145;
}

#footer .footer .footer__bottom .footer-bottom__right .settings .icon:hover {
  fill: #7d1a00;
}

.button--green {
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.button--green:hover {
  color: #fff;
  background-color: #168a53;
  border: 1px solid #fff;
}

.button--join {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 4px;
}

.button--join:hover {
  color: #fff;
  background-color: #168a53;
  border: 1px solid #fff;
}

.button--green-join {
  color: #1dbf73;
  background-color: #fff;
  border: 1px solid #1dbf73;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 4px;
}

.button--green-join:hover {
  color: #fff;
  background-color: #168a53;
  border: 1px solid #fff;
}

.button--search {
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
}

.button--search:hover {
  color: #404145;
  background-color: #168a53;
  border: 1px solid #404145;
}

.text--green {
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
}

.text--green:hover {
  text-decoration: none;
  background: #19a463;
  color: white;
}

@media screen and (max-width: 992px) {
  .text--green {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .text--green {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.text--blue {
  display: inline-block;
  color: #4a73e8;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
  cursor: pointer;
}

.text--blue:hover {
  text-decoration: none;
  background: #d4defb;
  color: #3f63c8;
}

.card {
  height: 277px;
  margin-right: 1px;
  border: none;
}

.card .card-img {
  position: absolute;
}

.card .card-img img {
  border-radius: 4px;
}

.card .card-text {
  padding: 16px;
}

.card .card-text a {
  z-index: 100;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.card .card-text a p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.card .card-text a h4 {
  font-size: 22px;
  line-height: 130%;
}

.play-video {
  position: relative;
}

.play-video::after {
  content: '';
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filter--white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}

.filter--gray {
  -webkit-filter: invert(50%) sepia(1%) saturate(2004%) hue-rotate(186deg) brightness(97%) contrast(77%);
          filter: invert(50%) sepia(1%) saturate(2004%) hue-rotate(186deg) brightness(97%) contrast(77%);
}

.logo--new {
  background: #584aff;
  color: #fff;
  border: 1px solid #584aff;
  border-radius: 999px;
  padding: 3px 7px 2px;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
}

.logo--testimonial {
  border-left: 1px solid #c5c6c9;
  height: 36px;
  margin-left: 16px;
}

.madeby {
  position: relative;
}

.madeby .see-more-links {
  position: absolute;
  top: 90px;
  right: 32px;
  padding-top: 16px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .madeby .see-more-links {
    top: 85px;
    right: 20px;
  }
}

.guides {
  position: relative;
}

.guides .see-more-guides {
  position: absolute;
  top: 0px;
  right: 32px;
  padding-top: 16px;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */