.logo--new{
    background: $color-blue-1;
    color: $color-white-0;
    border: 1px solid $color-blue-1;
    border-radius: 999px;
    padding: 3px 7px 2px;
    font-size: $fs-0 - 4;
    font-weight: $fw-2;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    
}

.logo--testimonial{
    border-left: 1px solid #c5c6c9;
    height: $h-1;
    margin-left: $mg-1;
}